@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* General Styles */

p {
  line-height: 20px;
}
.section {
  margin-bottom: 60px;
}

@keyframes show-animate {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(0.646, 0.045, 0.355, 1);
}

.cover.cover-right.turn {
  transform: rotateY(180deg);
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 2rem;
}

.book-page.page-left {
  box-shadow: -0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.1);
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.profile-page img {
  max-width: 180px;
  border-radius: 50%;
  border: 0.25rem solid var(--main-color);
  margin-bottom: 0.8rem;
}

.profile-page h1 {
  font-size: 2.7rem;
  line-height: 1;
  text-align: center;
}

.profile-page h3 {
  font-size: 1.5rem;
  color: var(--main-color);
}

.profile-page .social-media {
  margin: 0.6rem 0 0.8rem;
}

.profile-page .social-media a {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: var(--border);
  border-radius: 50%;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  margin: 0 0.2rem;
  transition: 0.5s;
}

.profile-page .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
}

.profile-page p {
  text-align: justify;
  font-size: 0.9rem;
}

.profile-page .btn-box {
  margin-top: 40px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2.5rem;
  background: var(--main-color);
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 500;
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn-box .btn:nth-child(1):hover {
  background: transparent;
  color: var(--main-color);
}

.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.646, 0.045, 0.355, 1);
}

.book-page.page-right.turn {
  transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem;
}

.book-page .page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.workeduc-box {
  margin-left: 20px;
}

.workeduc-box .workeduc-content {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
  border-left: var(--border);
}

.workeduc-box .workeduc-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.65rem;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.workeduc-content .year {
  color: var(--main-color);
}

.workeduc-content .year i {
  margin-right: 0.4rem;
}

.workeduc-content p {
  font-size: 0.9rem;
}
.number-page {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.nextprev-btn {
  position: absolute;
  bottom: 0.9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  columns: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.nextprev-btn:hover {
  color: var(--main-color);
}

.nextprev-btn.back {
  left: 1.5rem;
}

.subjects {
  margin: 0.5rem 0rem 0rem 2.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.services-content {
  position: relative;
  flex: 1 1 10rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem 2.5rem; /* Adjusted bottom padding to make room for the button */
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.services-content i {
  font-size: 2rem;
  color: var(--main-color);
}

.services-content:hover {
  transform: translateY(-2px); /* Slightly more lift on hover */
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); /* Deeper shadow for more depth */
}

.services-content p {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

.services-content .btn {
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.9rem;
  width: 7rem;
  height: 2rem;
  margin: 1rem auto 0; /* Center button horizontally and add margin */
  left: 0;
  right: 0;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skills-box .skills-content {
  gap: 1rem;
}

.skills-content h3 {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 0.6rem;
}

.skills-content .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.skills-content .content span:hover {
  transform: translateY(-1px); /* Slightly more lift on hover */
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

.skills-content .content span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.skills-content .content span i {
  font-size: 3rem;
  color: var(--main-color);
}

.portfolio-box .img-box {
  display: flex;
  width: 100%;
  height: 12rem;
  border: var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio-box .img-box img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.portfolio-box .img-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .info-box {
  margin: 1rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-box .info-box .info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
  font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
  margin-left: 0.3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
  font-weight: 600;
}

.portfolio-box .info-box p {
  font-size: 0.9rem;
}

.portfolio-box .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.portfolio-box .btn-box .btn {
  display: flex;
}

.contact-box {
  text-align: center;
}

.contact-box .field {
  width: 100%;
  border: var(--border);
  background: transparent;
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
  color: var(--white-color);
}

.contact-box textarea {
  resize: none;
  height: 10rem;
}

.contact-box .btn {
  cursor: pointer;
}

.contact-box .info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.contact-box .info-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.contact-box .info-box span i {
  color: var(--main-color);
}

.contact-box .info-box span a {
  color: var(--white-color);
  font-size: 0.9rem;
}

.back-profile {
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.back-profile:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.back-profile p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  color: var(--main-color);
  font-size: 0.9rem;
  opacity: 0;
  transition: 0.5s;
}

.back-profile:hover p {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  top: -1.5rem;
}
